html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

.title {
  text-align: center;
}

.form-label {
  color: azure;
}