extends layout

block content
  div(class='container h-100')
    div(class='row align-items-center h-100')
      div(class='col')
      div(class='col')
        div(class='card bg-light')
          div(class='card-body')
            h1(class='display-1 text-center') Library
            div(class='card-body')
              div(class='container text-left')
                  div(class='row text-left')
                    div(class='col-md col-md-offset')
                      form(name='isbn-form' action='/book')
                        div(class='form-group')
                          input(type='text' class='form-control' placeholder='ISBN' name='isbn-input')
                        button(type='submit' class='btn btn-primary' formmethod='post' onclick='return validateISBN()') Find book
      div(class='col')
  script(src='/javascripts/validate.js')