extends layout

block content
  div(class='container h-100')
    div(class='row align-items-center h-100')
      div(class='col')
      div(class='col')
        div(class='card bg-light')
          div(class='card-header')
            h1(class='display-1 text-center') Library
          ul(class='list-group list-group-flush text-center')
            li(class='list-group-item')
              a(class='btn btn-primary' href='/getinfo' role='button') Add a book
            li(class='list-group-item')
              a(class='btn btn-primary' href='/search' role='button') Search for a book
          if bookAddSuccess
            div(class='alert alert-success text-center' role='alert') Book added succesfully!
      div(class='col')
  script(src='/javascripts/validate.js')