extends layout

block content
  if info
    - var bookTitle = info.title
    - var authors = info.authors
  else
    - var bookTitle = ''
    - var authors = ['']
  div(class='container h-100')
    div(class='row align-items-center h-100')
      div(class='col')
      div(class='col')
        div(class='card bg-light')
          div(class='card-body')
            h1(class='display-1 text-center') Library
            div(class='card-body')
              div(class='container text-left')
                div(class='row')
                  div(class='col')
                    if !info
                      div(class='alert alert-danger' role='alert') Book not found! Please enter the book information manually.
                    form(name='book-add-form' action='/book/new')
                      div(class='form-group')
                        label(for='title-input') Title
                        input(type='text' id='title-input' class='form-control' placeholder='Title' value=bookTitle name='book-title-input') 
                      div(class='form-group')
                        label(for='author-input') Author(s)
                        //add button to add author form for manual entries
                        each bookAuthor in authors
                          input(type='text' id='author-input' class='form-control' placeholder='Author' value=bookAuthor name='book-title-input')
                      button(type='submit' class='btn btn-primary' formmethod='post' onclick='return validateISBN()') Add Book
      div(class='col')
  script(src='/javascripts/validate.js')